body{
    text-align: center;
    background: #68CEFF;
    font-family: caviar dreams;
}
main, header {
    max-width: 960px ;
    background: #117EB2;
    margin: auto;
    text-align: center;

    
}


h2,h1 {
    margin: auto;  
    text-align: center; font-family: anton;
}

h3{
    color:#117EB2;
    font-family: anton;
}


/* Catalog */
@media screen and (min-width: 640px) {
    .catalog-list {
        display: flex;
        flex-wrap: wrap;
}
    
    
.catalog-item {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: white;
    padding:10px;
    margin:20px;
    width: calc(50% - 60px);
}
.catalog-item img {

    
}

.bloc {
    padding: 40px;
    
}

# {
    padding: 10px;
    background: #117EB2;
    display: flex;
    border-radius:5px;
}
article {
    padding:10px;
    margin:20px;
}
